

<body class="dashboard dashboard_1">
    
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->    <!-- right content -->
            <div id="content">
                <!-- topbar -->
                  <div class="topbar">
                   
                </div>
                <div class="row">
                     <div class="col-md-12">

                       <h1 style="float: left; margin-top: 30px;">Edit page</h1>
                </div>
                        
                </div>
                  
              <br>
              <div class="row">
                 <div class="col-md-12">

                <form action="/admin/editpagepost/{{response._id}}" method="post" enctype="multipart/form-data">
                 
                    <label for="Name">Product Name</label>
                    <input class="form-control" type="text" name="name" value="{{response.name}}" id="">
                    <br>
                    <label  for="price">Price</label>
                    <input class="form-control" type="text" name="price" value="{{response.price}}" id="">
                    <br>
                    <label for="discription">Discription</label>
                    <input class="form-control" type="text" name="discription" value="{{response.discription}}">
                    <br>
                    <label for="gender" >Gender</label> <select  class="form-control"  id="cars" name="gender" >
                     <option value="{{response.gender}}">{{response.gender}}</option>
                        <option  value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Transgender">Transegender</option>
                        
                    </select>
                    <br>
                    <label for="brand">Brand</label>
                    <select class="form-control"  id="" name="brand">
                             <option value="{{response.brand}}" >{{response.brand}}</option>
                        <option value="Nike">Nike</option>
                        <option value="Converse">Converse</option>
                        <option value="New Balance">New Balance</option>
                        <option value="Addidas">Addidas</option>
                        <option value="bootshoe">Bootshoe</option>
                    </select>
                    <br>
                    <label for="size">Size</label>
                    <select class="form-control"  id="" name="size">
                             <option value="{{response.size}}" >{{response.size}}</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select>
                    <br>
                    <label for="images">Main image</label>
                    <br>
                    <img style="width: 50px; height: 50px;" id="imageinaddproduct" src="/public/uploads/{{response.images.[0]}}" alt="">
                    <input class="form-control" type="file" required  onchange="imagefun(event)" name="imagename1">
                    <br>
                    <img style="width: 50px; height: 50px;" id="sideimages1" src="/public/uploads/{{response.images.[1]}}" alt="">
                    <input class="form-control" type="file" required onchange="secimage(event)" name="imagename2">
                    <br>
                     <img style="width: 50px; height: 50px;" id="sideimages2" src="/public/uploads/{{response.images.[2]}}" alt="">
                    <input class="form-control" type="file" required onchange="thirdimage(event)" name="imagename3">
                    <br>
                    <br>
                 
                   <button type="submit" class="btn btn-primary">submit</button>
                  



                </form>
              </div>
              
            


        </div>

           </div>
           </div>

          
           </body>
